<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page | Captain's Log</title>
</head>
<body>
    <h1><%=foundLog.title%></h1>
    <p><strong>Entry:</strong> <%=foundLog.entry%></p>
    <% if (foundLog.shipIsBroken) { %>
        <p>The ship is in good shape.</p>
    <% } else { %>
        <p>The ship needs some work.</p>
    <% } %>
</body>
</html>